<style type="text/css">
/* Main Colors */
.HeadersBGColor{
    background-color: #16dddd!important;}
.HeadersBGColor ul li a{
    color: #ffffff!important;}
.MainBGColor{
    background-color: #ffffff!important;}
</style>