/* bootstrap overrides */
ul.list-group {
  margin-bottom: 0; }

#header {
  margin: 0; }
  #header .navbar-brand {
    height: auto;
    padding: 5px; }
    #header .navbar-brand img {
      width: 100px; }
    #header .navbar-brand h1 {
      margin: 0 20px;
      height: 100px;
      line-height: 100px;
      white-space: nowrap; }
      @media (max-width: 767px) {
        #header .navbar-brand h1 {
          font-size: 16px;
          max-width: 100px; } }
  @media (max-width: 767px) {
    #header .navbar-toggle {
      font-size: 16px;
      height: 110px;
      margin: 0; } }
  #header .navbar-collapse .nav li {
    padding: 25px 0; }
    #header .navbar-collapse .nav li a {
      background: none; }

#instagramHeader div.row .imageDiv {
  padding: 0; }
  #instagramHeader div.row .imageDiv img {
    width: 100%; }

body {
  padding-bottom: 60px;
  background: #000; }
  body #siteContainer {
    max-width: 1200px;
    margin: 0 auto;
    background: #FFF;
    min-height: 400px; }
    body #siteContainer #main {
      min-height: 400px;
      padding: 20px 0; }
      body #siteContainer #main #postList .page-header h1 span {
        font-weight: 400; }
      body #siteContainer #main #postList .page-header form {
        margin-top: 30px; }
        body #siteContainer #main #postList .page-header form .form-group {
          width: 100%; }
          body #siteContainer #main #postList .page-header form .form-group input {
            width: 100%; }
      body #siteContainer #main #postList .page-header button {
        margin-top: 30px; }
      body #siteContainer #main #postList ul.posts li {
        margin: 20px 0; }
        body #siteContainer #main #postList ul.posts li.last {
          margin-bottom: 50px;
          padding-bottom: 10px;
          border-bottom: 1px solid #000; }
        body #siteContainer #main #postList ul.posts li div.media h4 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px; }
        body #siteContainer #main #postList ul.posts li div.media .excerpt {
          font-size: 15px; }
        body #siteContainer #main #postList ul.posts li div.media a.media-left img {
          width: 100%;
          max-width: 200px; }
        body #siteContainer #main #postList ul.posts li div.media .readMore {
          margin-top: 10px; }
      body #siteContainer #main #post {
        padding: 40px 10px; }
        body #siteContainer #main #post .mainImage img {
          display: block;
          margin: 0 auto;
          max-width: 100%; }
        body #siteContainer #main #post .page-header a {
          margin-right: 20px; }
        body #siteContainer #main #post .well p {
          font-size: 1.6rem;
          color: #000;
          padding: 20px; }
        body #siteContainer #main #post .share {
          border-top: 1px solid #eee;
          margin-top: 40px; }
      body #siteContainer #main #page {
        min-height: 400px; }
        body #siteContainer #main #page #faq .faq {
          border: none; }
          body #siteContainer #main #page #faq .faq .question {
            font-weight: bold;
            font-size: 16px; }
          body #siteContainer #main #page #faq .faq .answer {
            font-size: 15px; }

.loader.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out; }
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
