@import "libs/mixins";

/* bootstrap overrides */
ul.list-group{margin-bottom: 0;}

@import "libs/header";
@import "libs/footer";

body{padding-bottom:60px;background: #000;
  #siteContainer {  max-width: 1200px;margin: 0 auto;background: #FFF;min-height: 400px;
    #main {  min-height: 400px;  padding: 20px 0;
      @import "libs/posts";
      @import "libs/page";

      .share{
        .facebook{background-color:#3a5795; color:#FFF;}
        .twitter{background-color:#55acee; color: #FFF;}
        .google{background-color:#d73d32; color: #FFF}
        .reddit{background-color:#cee3f8; }
      }
    }
  }
}

.loader{
  &.spinner{
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;

    @-webkit-keyframes scaleout {
      0% { -webkit-transform: scale(0.0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes scaleout {
      0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
        }
    }
  }
}