/* bootstrap overrides */
ul.list-group{margin-bottom: 0;}

body{padding-bottom:60px;min-height:400px;
  #header{
    ul.list-group{
      &.avatar{
        li{padding:5px;
          div.row-picture{padding: 0;}
          div.row-content{color: #FFF;padding-left: 5px;}
        }
      }
    }
  }

  #main{
    #postList{
      ul.posts{
        li{margin: 10px 0;}
      }
    }
  }
}