<div class="comments" ng-show="!showCommentForm">
    <h3>Comments</h3>
    <button class="btn btn-primary" ng-click="toggleCommentForm()">Add Comment</button>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in comments">
            <div class="media">
                <a class="pull-left" href="">
                    <img class="media-object" src="{{comment.author.avatar}}" alt=""/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.author.name}}</h4>
                    <span ng-bind-html="comment.content | unsafe"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="well" ng-show="showCommentForm">
    <form class="form-horizontal" name="forms.commentForm" action="" ng-submit="addComment(forms.commentForm,jsComment)" novalidate="">
        <legend>Add a Comment</legend>

        <div class="form-group" ng-class="{'has-error':forms.commentForm.author.$error['required'] && forms.commentForm.submitted}">
            <label class="control-label col-lg-2" for="">Name</label>
            <div class="col-lg-4">
                <div class="form-control-wrapper">
                    <input ng-disabled="user.data.display_name" type="text" name="author" class="form-control" ng-model="jsComment.author" required=""/>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':forms.commentForm.authorEmail.$error['required'] && forms.commentForm.submitted}">
            <label class="control-label col-lg-2" for="">Email</label>
            <div class="col-lg-4">
                <div class="form-control-wrapper">
                    <input ng-disabled="user.data.user_email" type="text" name="authorEmail" class="form-control" ng-model="jsComment.author_email" required=""/>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':forms.commentForm.content.$error['required'] && forms.commentForm.submitted}">
            <label class="control-label col-lg-2" for="">Comment</label>
            <div class="col-lg-4">
                <div class="form-control-wrapper">
                    <textarea name="content" class="form-control" ng-model="jsComment.content" required=""></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-2">
                <button type="button" ng-click="toggleCommentForm()" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>