<div id="page" >
    <div class="page-header">
        <h1 class="AccentColor1_color" ng-bind-html="page.title"></h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-bind-html="page.content | unsafe"></div>

            <div ng-switch="contentLoaded">
                <div ng-switch-when="true" ng-switch="template">
                    <div ng-switch-when="faq">
                        <div ng-include="dir+'/partials/page/faq.html'"></div>
                    </div>
                    <div ng-switch-when="projects">
                        <div ng-include="dir+'/partials/page/projects.html'"></div>
                    </div>
                    <div ng-switch-default="">
                        <div ng-include="dir+'/partials/page/default.html'"></div>
                    </div>
                </div>
                <div class="loading" ng-switch-default="">
                    <div class="pageLoading text-center">
                        <i class="fa fa-refresh fa-spin fa-5x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>