<div id="post">
    <div class="mainImage">
        <img ng-src="{{ (post.featured_image ? post.featured_image.guid : BlogInfo.url+'/img/default.jpg') }}"
             alt=""/> </a>
    </div>

    <div class="page-header">
        <a href="" ui-sref="posts()" class="pull-left">
            <i class="fa fa-long-arrow-left fa-3x"></i>
        </a>

        <h1>{{post.title}}
            <small>{{post.date | date : 'shortDate' }}</small>
        </h1>
    </div>

    <div class="well">
        <div class="post" ng-bind-html="post.content | unsafe"></div>
    </div>

    <div id="comments" ng-if="disqus_shortcode">
        <dir-disqus disqus-shortname="{{disqus_shortcode}}"
                    disqus-identifier="{{ postId }}"
                    disqus-url="{{ postUrl }}"
                    disqus-title="{{ post.title }}">
        </dir-disqus>
    </div>
</div>