<div class="share">
    <div class="row">
        <div class="col-sm-12">
            <h3>Share this post:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn facebook btn-raised" href="#"
               socialshare
               socialshare-provider="facebook"
               socialshare-text="{{post.title}}"
               socialshare-url="{{postUrl}}">
                <i class="fa fa-facebook"></i> Facebook
            </a>
            <a class="btn google btn-raised" href="#"
               socialshare
               socialshare-provider="google+"
               socialshare-text="{{post.title}}"
               socialshare-url="{{postUrl}}">
                <i class="fa fa-google-plus"></i> Google+
            </a>
            <a class="btn twitter btn-raised" href="#"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="{{post.title}}"
               socialshare-url="{{postUrl}}">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            <a class="btn reddit btn-raised" href="#"
               socialshare
               socialshare-provider="reddit"
               socialshare-text="{{post.title}}"
               socialshare-url="{{postUrl}}">
                <i class="fa fa-reddit"></i> Reddit
            </a>
        </div>
    </div>
</div>