<div id="faqMain">
    <div class="row">
        <div class="col-sm-12" ng-bind-html="page.content | unsafe"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="faq panel panel-default" ng-if="$index<faqs.length/2" ng-repeat="faq in faqs">
                <div class="question panel-heading AccentColor1_bg" ng-bind-html="faq.title"></div>
                <div class="answer panel-body well" ng-bind-html="faq.content"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="faq panel panel-default" ng-if="$index>=faqs.length/2" ng-repeat="faq in faqs">
                <div class="question panel-heading AccentColor1_bg" ng-bind-html="faq.title"></div>
                <div class="answer panel-body well" ng-bind-html="faq.content"></div>
            </div>
        </div>
    </div>
    <span ng-if="!faqs.length">No Faqs</span>
</div>